.appointment-administration-box_admin {
    position: relative;
    margin: auto;
    width: 80%;
}

.modal-delete { /*???*/
    width: 90% !important;
    margin-top: -20px;
    color: white;
    background-color: transparent;
}

#modal-delete-appointment {
    background-color: rgba(255,255,255,0.1) !important; /* Black w/ opacity */
   
}