.appointment-creation-box, .appointment-creation-box_admin {
    margin-top: -20px;
}

.appointment-creation.container {
   
}

/*
label {
    padding-bottom: 5px;
    font-size: 16px;
}
*/

.inner-wrap {
    display: inline-block;
    width: 96%;
    min-height: 100px;
    padding: 0;
    margin: 10px;
    margin-left: 4%;
    /*background: #F8F8F8;*/
    border-radius: 6px;
}

.topic-container, .duration-container, .date-container, .timerange-container, .overview-container, .appointments-container, .name-container, .prename-container, .email-container, .number-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    
}

.section-header {
    margin-top: -16px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 18px;
    /*font-weight: 600;*/
    font-family: 'Raleway';
    /*font: normal 18px 'Bitter', serif;*/
    color: #2A88AD;
}

.section-header {
    margin-left: 52px;
}

.section-header-admin {
    margin-left: 20px;
}

.inquiry-section-header {
    margin-top: 15px;
}

#topic-list {
    font-size: 14px;
}

.possible-appointment-container {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.possible-time {
    float: left;
    margin-right: 5px;
}

/**/
.form-inline {
    width: 440px;
    padding: 25px 22px 30px 22px;
    margin: 26px auto;
    margin-bottom: 0px;
    /*margin: 84px auto;*/
    background: #F7F7F7;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkitbox-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

/*Braucht man nicht*/
.form-style label {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500 !important;
    font-family:'Raleway';
    /*font: 16px Arial, Helvetica, sans-serif;*/
    color: grey;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"] {
    display: block;
    width: 100%;
    margin-left: -3px;
    padding: 5px;
    border: 1px solid #ecf0f1;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    /*border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;*/
    border-radius: 0;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.33);
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

.form-style .section-header {
    
}

.form-style .section-header span {
    position: absolute;
    margin-top: -2px;
    margin-left: -35px;
    font-size: 20px;
    color: #2A88AD;
}

#appointment-button, #request-button, #add-topic-button_admin, #add-appointment-button_admin, #notification-button, #delete-all-button {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    
    padding: 8px;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    border-radius: 3px;
    color: grey;
    /*
    background-color: transparent;
    border: none;
    */
    
    /*background: #2A88AD;*/
    /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);*/
    /*border: 1px solid #257C9E;*/
    
    /*border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    
    /*box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);*/
}

/**/
#appointment-button {
    left: 7px;
    top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px 11px 8px 11px;
}

#add-topic-button_admin, #add-appointment-button_admin {
    top: 10px;
    background-color: transparent;
    border: 1px solid #E8E8E8;
}

/**/
#request-button {
    top: 10px;
    padding: 7px 8px 7px 8px;
    font-size: 14px;
    background-color: #E8E8E8;
    /*border: 1px solid #ecf0f1;*/
    /*color: #888;*/
}

#appointment-button:hover, #request-button:hover, #add-topic-button_admin:hover, #add-appointment-button_admin:hover, #notification-button:hover, #delete-all-button:hover {
    opacity: 0.8;
    /*background: #2A6881;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);*/
}

#notification-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

#request-button:hover {
    opacity: 0.8;
    /*background: transparent;*/
}

#request-text {
    margin-top: -20px;
    padding: 5px;
    line-height: 1.5em;
}

#myChart {
    cursor: pointer; 
}

/**/
#chart-admin {
    width: 360px !important;
    height: 360px !important;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    color: white;
    font: normal 20px 'Bitter', serif;
    background-color: #2A88AD;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

#duration-empty {
    margin-top: -40px;
}
