.nav {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Raleway';
}

h2 { 
    margin: 10px !important;
    font-size: 40px;
    font-family: 'Grand Hotel';
    color: grey;
}

/**/
h3 {
    text-align: center;
    font-family: 'Raleway';
    color: grey;
}

h4 {
    font-family: 'Raleway';
    color: white;
}

/**/
h5 {
    text-align: center;
    font-family: 'Raleway';
    color: white;
}

.title {
    margin-top: 20px !important;
    margin-left: 20px !important;
    font-size: 44px;
}

#login_button {
    margin-right: 5px;
    margin-top: 15px;
    color: grey;
}

#calendar td:hover {
    cursor: pointer;
}

input {
  font-family: monospace;
}

/*Input-Feld: Datum -> Hoch und Runter Pfeil weg!*/
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/*Brauche ich eigentlich nicht*/
.hidden {
    visibility: hidden;
}